
.footerBackground
{
    background-color: #f7f5f5;
}
.fontFooter
{
    font-family: Calibri light;
}

.footerH1
{
    color: #5496fd;
}

.btnForm
{
    background-color: #ffa800 !important;
    font-weight: bolder;
}

.footerCardBlue
{
    background-color: #00aeef;
}

.footerCardRed
{
    background-color: #a8240b;
}



