
.formBackground
{
    background-color: #f7f5f5;
}
.fontForm
{
    font-family: Calibri light;
}

.formH1
{
    color: #5496fd;
}

.btnForm
{
    background-color: #ffa800 !important;
    font-weight: bolder;
}

.formCardBlue
{
    background-color: #00aeef;
}

.formCardRed
{
    background-color: #a8240b;
}



