
header{
    padding: 0;
    margin: 0;
    background: url("../img/background_real.png") no-repeat center;
    background-size: 100% 100%;
    height: 100vh;
    align-items: center;
}

.text-field{
    background-color: #000000aa;
    font-family: Calibri light;
    line-height: 1.2;
    display: flex;
}

.naslov{
    font-size: 1.9rem;
    color: #ffffff;
}

.opis{
    color: #ffffff;
    font-size: 24px;
}

.contact-btn{
    background-color: #ffa800;
    font-size: 1.5rem;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    border: none;
}

@media screen and (max-width: 1440px) {
    header {
        background: url("../img/background_real.png") no-repeat center;
        background-size: 100% 100%;
    }

    .opis {
        font-size: 1.5rem;
        top: 10%;
    }

    .contact-btn {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 960px) {
    header {
        background: url("../img/mobile_header.png") no-repeat center;
        background-size: 100% 100%;
        height: 100vh;
    }

    .opis{
        font-size: 32px;
        top: 10%;
    }

    .contact-btn {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 768px) {
    header{
        background: url("../img/mobile_header.png") no-repeat center;
        background-size: 100% 100%;
        height: 100vh;
    }

    .opis{

        font-size: 26px;
    }

    .headerText
    {
        font-size: 0.8em;
        line-height: 1.2;
    }


    .contact-btn {
        font-size: 1.5rem;
        margin-top: 5%;
    }
}
@media screen and (max-width: 420px) {
    header {
        background: url("../img/mobile_header.png") no-repeat center;
        background-size: 100% 100%;
        height: 100vh;
    }

    .opis{
        font-size: 22px;
        line-height: 1.5;
    }

    .contact-btn {
        font-size: 1rem;
        margin-top: 5%;
    }
}
@media screen and (max-width: 320px) {
    header {
        background: url("../img/mobile_header.png") no-repeat center;
        background-size: 100% 100%;
        height: 100vh;
    }

    .opis{

        font-size: 18px;
    }

    .contact-btn {
        font-size: 0.8rem;
    }
}
