.iskustvaSlika
{
    width: 40%;
    height: 40%;
}

.iskustvaBackground
{
    background-color: #f2f2f2;
}

.iskustvaBlue
{
    color: #3e8cd1;
}

.iskustvaText
{
    color: #a2a2a2;
}

.iskustvaIme
{
    color: #3a3a3a;
}

.iskustvaFont
{
    font-family: Corbel light;
}